<ion-header>
  <ion-toolbar>
    <!-- <ion-input class="header-search-input" [placeholder]="'Quem merece seu feedback hoje?' | translate"></ion-input> -->
    <ion-searchbar
      [placeholder]="'Quem merece seu feedback hoje?'"
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="getItems($event)"
      (ionCancel)="onCancel($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: brown">
    <ion-list class="myList">
      <ng-container *ngFor="let user of usersList">
        <ion-item lines="full" button (click)="presentModal(user, user.nome)">
          <ion-avatar slot="start">
            <img [src]="user.photoUrl" />
          </ion-avatar>
          <ion-label>
            <ion-text color="primary">
              <h2>
                {{ user.nome }}
              </h2>
            </ion-text>
            <p>Desenvolvimento</p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
</ion-content>
