<ion-header translucent>
  <ion-toolbar>
    <ion-title>FeedBack</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form onsubmit="processForm(event)">
    <ion-title>Novo feedback para: {{userTo.nome}}</ion-title>
        <ion-textarea [(ngModel)]="feedback" name="feedback" rows="10" style="background-color: slategrey"></ion-textarea>
    <div class="ion-padding">
      <ion-button expand="block"  class="ion-no-margin"  (click)="send()" >Enviar :)</ion-button>
    </div>
  </form>
</ion-content>