<ion-header translucent>
  <ion-toolbar>
    <ion-title>Novo FeedBack</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form onsubmit="processForm(event)">
    <ion-title>Para: {{userTo.nome}}</ion-title>
        <ion-textarea [(ngModel)]="feedback" name="feedback" rows="10" style="border: solid 1px black"></ion-textarea>
    <div class="ion-padding">
      <ion-button  expand="block" shape="round" color="secondary" size="big" (click)="send()">Enviar :)</ion-button>
    </div>
  </form>
</ion-content>